@import "../../../styles/responsive.scss";

.gel {
  &__content {
    margin-top: 2rem;

    & div {
      justify-content: center;
      align-items: center;
    }

    & p {
      flex: 1;
      &:first-child {
        flex: 2;
      }

      &:last-child {
        text-align: left;
      }

      @include respond(phone) {
        font-size: 1.25rem;
      }

      &:first-child {
        text-align: right;

        @include respond(phone) {
          flex: 1.5;
          margin-right: 1rem;
        }
      }
    }
  }
}
