@import "../../styles/responsive.scss";

.title {
  padding: 1rem;

  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include respond(phone) {
    width: 100%;
    top: 11%;
  }

  &__container {
    position: relative;

    padding: 1rem;

    @include respond(phone) {
      padding: 0;
    }

    h1 {
      font-size: 6rem;
      font-family: var(--font-secondary);
      font-weight: 500;
      letter-spacing: 0.5rem;

      @include respond(phone) {
        font-size: 4rem;
        text-align: center;
      }
    }

    h3 {
      position: absolute;
      bottom: 0;
      right: 1rem;

      text-transform: uppercase;
      font-size: 1.75rem;
      font-weight: 500;

      @include respond(phone) {
        bottom: -0.5rem;
        right: 8rem;
      }
    }
  }
}
