.resine {
  &__content {
    margin-top: 3rem;

    & div {
      justify-content: center;
      align-items: center;
    }

    & p {
      flex: 1;

      &:first-child {
        text-align: right;
      }
    }
  }
}
