.poses {
  position: absolute;
  width: 80%;
  height: 100vh;

  &__title {
    text-align: center;
    font-size: 3.5rem;
    margin-top: 3rem;
  }

  &__content {
    margin-top: 2rem;
    padding: 1rem;

    & > *:last-child {
      margin-top: 8rem;
    }
  }

  &__items {
    padding: 1rem;
    margin-top: 1rem;
  }

  &__box {
    h2,
    h3 {
      text-align: right;
    }

    h2 {
      font-size: 2.25rem;
    }

    h3 {
      font-weight: 500;
      font-size: 2rem;
    }
  }
}
