.navigation {
  &__container {
    width: 60%;
    margin: auto;

    display: flex;
    justify-content: space-between;

    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__item {
    font-size: 1.75rem;
    padding: 1rem;

    a {
      &:link,
      &:visited {
        font-weight: bold;
        text-decoration: none;
        color: var(--color-black);
        transition: var(--transition);
      }

      &:hover {
        color: var(--color-primary);
      }
    }
  }
}
