@import "../../styles/responsive.scss";

.heading {
  text-align: center;
  font-size: 3.5rem;
  margin-top: 3rem;

  @include respond(phone) {
    font-size: 2.5rem;
    margin-top: 5rem;
  }

  @include respond(small-phone) {
    font-size: 2rem;
    margin-top: 5rem;
  }
}
