@import "../../../styles/responsive.scss";

.cosmetic {
  &__title {
    position: relative;
    top: 5rem;
    left: 10rem;

    @include respond(phone) {
      left: 1rem;
    }

    h1 {
      font-size: 3rem;

      @include respond(phone) {
        font-size: 2.25rem;
      }
    }

    h2 {
      font-size: 2.5rem;
      font-weight: 500;

      @include respond(phone) {
        font-size: 1.5rem;
      }
    }
  }

  &__content {
    margin-top: 8rem;

    display: flex;

    @include respond(tab-port) {
      justify-content: space-around;
    }

    &-1 {
      flex: 1;
      margin-left: 10rem;

      @include respond(big-desktop) {
        margin-top: 20rem;
        margin-left: 40rem;
      }

      @include respond(tab-land) {
        height: 30rem;
        overflow: hidden;
        margin-top: 10rem;
        background-image: url("../../../images/prestation/2.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }

      @include respond(tab-port) {
        flex: 1;
        height: 35rem;
        margin-top: 20rem;
      }

      @include respond(phone) {
        display: none;
      }
    }

    &-2 {
      position: relative;
      top: -4rem;

      @include respond(big-desktop) {
        top: 0rem;
        margin-right: 10rem;
      }

      @include respond(tab-land) {
        height: 30rem;
        overflow: hidden;
        margin-top: 5rem;
        margin-right: 2rem;
        background-image: url("../../../images/prestation/6.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }

      @include respond(tab-port) {
        height: 50rem;
        width: 40rem;
        background-size: contain;
        background-repeat: no-repeat;
        flex: 1;
      }

      @include respond(phone) {
        top: 2rem;
        width: 80%;
        margin: auto;
      }

      @include respond(small-phone) {
        top: -8rem;
        width: 70%;
        margin: auto;
      }
    }
  }
}
