.soins {
  position: absolute;
  height: 100vh;
  width: 80%;

  h1 {
    text-align: right;
    margin-top: 3rem;
    font-size: 3.5rem;
  }

  &__items {
    margin-top: 3rem;

    & > div {
      font-weight: 500;
      justify-content: flex-end;
    }
  }
}
