@import "../../styles/responsive.scss";

.institute {
  height: 100vh;

  background-image: url("../../images/institute/background.png");
  background-size: contain;
  background-repeat: no-repeat;

  @include respond(tab-port) {
    background: none;
  }

  @include respond(phone) {
    background: none;
    background-color: var(--color-primary);
  }

  // &__contact {
  //   & > div {
  //     @include respond(tab-port) {
  //     }
  //     border: 1px solid red;
  //   }
  // }

  &__content {
    width: 60%;
    margin: auto;
    display: flex;
    position: relative;
    top: 25rem;

    @include respond(tab-port) {
      width: 80%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    @include respond(phone) {
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__image {
    display: block;
    text-align: center;
    flex: 1;

    @include respond(phone) {
      display: none;
    }
  }

  &__text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @include respond(tab-port) {
      justify-content: center;
    }

    &-box {
      h3 {
        font-size: 2rem;

        @include respond(phone) {
          font-size: 3rem;
        }
      }

      p {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 2.25rem;
      }

      &:first-child {
        margin-top: 2rem;
        margin-bottom: 2rem;

        @include respond(tab-port) {
          margin-top: 0;
        }

        @include respond(phone) {
          margin-top: 0;
        }
      }
    }
  }
}
