.legal {
  &__content {
    width: 60%;
    margin: auto;
    text-align: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: var(--color-black);
    font-size: 1.25rem;
    font-weight: 500;

    & > div {
      padding: 1rem;
    }

    &-1 {
      & p:last-child {
        margin: 1rem 0;
      }
    }
  }
}
