@import "../../styles/responsive.scss";

.location {
  &__address {
    width: fit-content;
    margin: auto;
    padding: 1rem;
    position: relative;
    top: 14rem;
    left: -25rem;

    @include respond(phone) {
      top: 16rem;
      left: 0;
      border: 1px solid red;
    }

    p {
      font-size: 1.5rem;
    }

    & div {
      text-align: center;
      &:last-child {
        margin-top: 2rem;
      }
    }
  }

  &__img {
    width: fit-content;
    position: relative;
    top: 16rem;
    left: 25rem;
    border-radius: 6rem;
    overflow: hidden;
    box-shadow: var(--box-shadow);
    display: block;

    @include respond(phone) {
      top: 20rem;
      left: 0.75rem;
    }

    &-2 {
      position: absolute;
      bottom: 25rem;
      right: 5rem;

      @include respond(phone) {
        display: none;
      }
    }
  }
}
