@import "../../styles/responsive.scss";

.location {
  &__address {
    width: fit-content;
    margin: auto;
    padding: 1rem;
    position: relative;
    top: 14rem;
    left: -25rem;

    @include respond(tab-land) {
      left: -15rem;
    }

    @include respond(phone) {
      top: 12rem;
      left: 0;
    }

    p {
      font-size: 1.5rem;
    }

    & div {
      text-align: center;
      &:last-child {
        margin-top: 2rem;
      }
    }
  }

  &__img {
    width: fit-content;
    position: relative;
    top: 16rem;
    left: 25rem;
    border-radius: 6rem;
    overflow: hidden;
    box-shadow: var(--box-shadow);
    display: block;

    @include respond(tab-land) {
      top: 18rem;
      width: 30rem;
    }

    @include respond(phone) {
      width: 75%;
      margin: auto;
      top: 13rem;
      left: 0.75rem;
    }

    &-2 {
      position: absolute;
      bottom: 25rem;
      right: 5rem;

      @include respond(tab-land) {
        top: 40%;
        left: 85%;
        transform: translate(-50%, -50%);
        width: 30rem;
      }

      @include respond(phone) {
        display: none;
      }
    }
  }
}
